name: Build-Docs

on: [push, pull_request]

jobs:
  buildDocs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]

    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: cd docs && npm install
      - name: Build
        run: cd docs && npm run-script build
