name: Alpha-Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]

    steps:
      - uses: actions/checkout@v2
      - name: Install Misk-Web
        run: sudo npm install -g @misk/cli
      - name: Misk-Web Prebuild
        run: miskweb prebuild -e
      - name: Rush check for inconsistent dependency versions
        run: node common/scripts/install-run-rush.js check
      - name: Rush install
        run: node common/scripts/install-run-rush.js update
      - name: Rush build
        run: node common/scripts/install-run-rush.js build --verbose
      - name: Configure git user
        run: |
          sudo git config --global user.name "Misk-Web Alpha Release Bot"
          sudo git config --global user.email "misk-web+robots@squareup.com"
      - name: Rush bump version
        run: node common/scripts/install-run-rush.js version --bump
      - name: Rush publish
        run: node common/scripts/install-run-rush.js publish --include-all -a -p -n ${NPM_PUBLISH_TOKEN}
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
      - name: Install strip-json-comments-cli && jq
        run: sudo npm install -g strip-json-comments-cli && sudo apt-get install jq
      - name: Parse new version
        run: NEW_VERSION=$(cat common/config/rush/version-policies.json | strip-json-comments | jq '.[0].version' | sed 's/"//g') && echo $NEW_VERSION >> NEW_VERSION
      - name: Update Misk-Web versions and prebuild
        run: miskweb pin $(cat NEW_VERSION) -e
      - name: Update Rush lockfiles
        run: node common/scripts/install-run-rush.js update
      - name: Commit version changes
        run: |
          NEW_VERSION=$(cat NEW_VERSION)
          rm NEW_VERSION
          echo $NEW_VERSION
          sudo git status
          sudo git add .
          sudo git commit -m "[ALPHA-RELEASE] ${NEW_VERSION}"
          sudo git push origin
